{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <form action="" method="POST">{% csrf_token %}
                    <div class="control is-grouped">
                        <p class="control is-expanded">{{ form.text|add_class:'input is-large' }}</p>
                        <p class="control"><input type="submit" class="button is-large is-primary" value="Submit"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<hr class="is-marginless" />
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% for note in notes %}
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content"><p><strong>{{ note.created }}</strong><br>{{ note.text }}</p></div>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
